#!/usr/bin/env bash
set -euo pipefail

# Brewfile hash: {{ includeTemplate "private_dot_config/homebrew/Brewfile.tmpl" . | sha256sum }}

[[ -x "/opt/homebrew/bin/brew" ]] || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

eval "$(/opt/homebrew/bin/brew shellenv)"

brewfile_path="${XDG_CONFIG_HOME:-$HOME/.config}/homebrew/Brewfile"

brew bundle cleanup --install --force --file="$brewfile_path"
