{{- $email := promptStringOnce . "email" "Email address" "hello@danielwang.dev" -}}

[data]
    email = {{ $email | quote }}

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-password-manager.sh"

[onePassword]
    command = "/opt/homebrew/bin/op"
