[commit]
	gpgsign = true
[core]
	excludesfile = ~/.config/git/ignore
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rebase]
	autoStash = true
[tag]
	gpgsign = true
[user]
	name = Daniel Wang
	email = {{ .email }}
	signingkey = ~/.ssh/id_ed25519.pub
