[commit]
	gpgsign = true
[core]
	excludesfile = ~/.config/git/ignore
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rebase]
	autoStash = true
[tag]
	gpgsign = true
[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ (index (gitHubKeys .gitHubUsername) 0).Key }}
